<header class="sticky-top">
  <nav class="navber navber-expand-sm navbar-dark bg-dark">
    <%= link_to "スケジュール管理", root_path, class: 'navbar-brand' %>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="ナビゲーションの切り替え">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="navbar-nav">
            <%= link_to 'スケジュールを追加', new_event_path, class: 'nav-link'%>
          </li>
          <!-- /.navbar-nav -->
          <li class="navbar-nav">
            <%= link_to 'アカウント編集', edit_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%=  link_to "退会する",  new_retirements_path, class: "nav-link"%>
          </li>
        <% else %>
          <%= render 'devise/shared/line'%>
          <%= render 'devise/shared/github' %>
          <li class="nav-item active">
          <%=  link_to "退会する", destroy_user_session_path, method: :delete, class: "nav-link"%>
          <%= link_to 'アカウント編集', edit_user_registration_path, class: 'nav-link' %>
          <%= link_to 'スケジュールを追加', new_event_path, class: 'nav-link'%>
            <%= link_to 'アカウント', new_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'ログイン', new_user_session_path, class: 'nav-link'%>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>