<nav class="navbar navbar-expand-md navbar-light bg-light">
  <%= link_to "助っ人マスター", root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <span></span>
        <span></span>
        <span></span>
      </span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to 'ホーム',  welcome_home_path, class: 'nav-link'%>
          </li>
          <!-- /.navbar-nav -->
          <li class="nav-item active">
            <%= link_to 'アルバイトを追加', new_event_path, class: 'nav-link'%>
          </li>
          <!-- /.navbar-nav -->
          <li class="nav-item active">
            <%= link_to "バイター一覧", users_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%=  link_to "ログアウト",  new_retirements_path, class: "nav-link"%>
          </li>
        <% else %>
          <li class="nav-item active">
            <%= link_to 'ログイン', new_user_session_path, class: 'nav-link'%>
          </li>
          <li class="nav-item active">
            <%= link_to 'ユーザー登録', new_user_registration_path, class: 'nav-link' %>
          </li>
      <% end %>
    </ul>
  </div>
</nav>
