<h1>アルバイト一覧</h1>
<ul class="list-group">
  <%= month_calendar events: @events do |date, events| %>
    <%= date.day %>
    <% events.each do |event| %>
    <div>
      <%= link_to event.name.truncate(5), event %>
    </div>
    <% end %>
  <% end %>
  <%= link_to '予定を書く', new_event_path, class: "btn btn-secondary btn-lg" %>
</ul>
<!-- /.list-group -->


<h1>All users</h1>
　<%= will_paginate @users, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
<ul class="users">
  <% @users.each_with_index do |user| %>
    <li>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>


<tbody class="text-center">
  <%= will_paginate @users, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
      </tr>
    <% end %>
</tbody>
<%= will_paginate @users, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>