<div class="home_container">
  <section id="heading">
    <div class="row">
      <div class="d-flex flex-column justify-content-center example">
        <h1><img class="logo" src="/assets/roof_log.png"></h1>
        <p class="text-center">目指せ助っ人マスター!!</p>
        <div class="text-content">
          <div class="text-center text-lg-start">
            <%= link_to "今すぐはじめる", new_user_registration_path, class: 'btn btn-outline-dark rounded-pill' %>
            <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: 'btn btn-outline-danger rounded-pill' %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div>
  <section id="about" class="contents">
    <div class="description">
      <h3 style="font-weight: bold;">助っ人マスターとは</h3>
        <p>
          使い方をシンプルした「勤怠管理アプリ」です。<br>
「人手不足で手が空いてる人に助っ人に来て欲しい」<br>「毎度連絡を入れるのが申し訳ない」<br>「常に掲示板的な物に仕事概要を載せって気軽に見れるようにできれば」など、<br>
一つの小さな悩みが解決できると思います。<br>
        </p>
    </div>
  </section>
</div>

<div>
  <section id="about" class="contents">
    <div class="features">
      <h3 style="font-weight: bold;">助っ人マスターの特徴</h3>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="box-features">
              <h4 class="contents-title">投稿機能</h4>
              <!-- /.contents__title -->
            </div>
            <!-- /.box -->
            <p>
            人材が欲しい仕事があれば投稿すると登録ユーザーに届く。
            </p>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box-features">
              <h4 class="contents-title">Lvアップ機能</h4>
              <!-- /.contents__title -->
            </div>
            <!-- /.box -->
            <p>
            アルバイトの日数、技術が上がればレベルが上がり。
            人材単価を上げることも可能！？
            </p>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box-features">
              <h4 class="contents-title">Googleマップ機能</h4>
              <!-- /.contents__title -->
            </div>
            <!-- /.box -->
            <p>
              指定の現場までルートをGoogleマップと連動しているので可能。
            </p>
            </div>
          </div>
        </div>
    </div>
  </section>
</div>











<h1 class="text-center">アルバイト表</h1>
<div class="box">
  <div class="box-inner">
  <div class="event-user">
    <%= render "layouts/user_page"%>
  </div>
  <!-- /.event-user -->
  </div>
  <!-- /.box-inner -->
</div>
<!-- /.box -->
<div class="main">
  <div class="event-container">
    <ul class="list-group">
      <%= month_calendar events: @events do |date, events| %>
        <%= date.day %>
        <% events.each do |event| %>
        <div>
          <%= link_to event.name.truncate(5), event %>
        </div>
        <% end %>
      <% end %>
      <%= link_to '予定を書く', new_event_path, class: "btn btn-secondary btn-lg" %>
    </ul>
    <!-- /.list-group -->
  </div>
  <!-- /.event-container -->
  <div>
  <ul>
    <% @rooms.each do |room| %>
      <li><%= link_to "Room#{room.id}", room_path(room)%></li>
    <% end %>
  </ul>
</div>

</div>
<!-- /.main -->
