<div class="form-group">
  <%= form.label :name %>
  <%= form.text_field :name, class: "form-control" %>
</div>
<div class="form-group">
  <%= form.label :place %>
  <%= form.text_field :place, class: "form-control" %>
</div>
<div class="form-group">
  <%= form.label :start_at %>
  <div>
    <input id="date-form" name="calendar[date]" readonly="readonly" type="text" date.today>
    <%= form.time_field :start_at, value:"08:00"%>
    <%= form.time_field :end_at, value:"17:30" %>
  </div>
</div> 
<div class="form-group">
  <%= form.label :content %>
  <%= form.text_area :content, class: "form-control", row: 10 %>
</div>
<%= form.submit class: "btn btn-primary" %>
