<h2>LINE BOTの登録してください</h2>
<div class="box">
  <div class="box-inner">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h1>ログイン</h1>
      <div class="sns-login-box">
        <%= render "devise/shared/line"%>
      </div>
      <!-- /.sns-login-box -->
      <div class="center-line"><label class="center-label">または</label></div>
      <!-- /.center-line -->
      <div class="sns-login-box">
        <%= render "devise/shared/github"%>
      </div>
      <!-- /.sns-login-box -->
      <div class="center-line"><label class="center-label">専用のアカウントをお持ちの方は</label></div>
      <!-- /.center-line -->
      <div class="box-email">
        <%= f.label :email, "Eメール" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="box-password">
        <div class="a-row">
          <div class="column-left">
            <%= f.label :password, "パスワード" %>
          </div>
          <div class="column-right">
            <%= link_to "パスワードを忘れた場合", new_user_password_path %>
          </div>
        </div>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      <div class="box-login">
        <%= f.submit "ログイン" %>
        <div class="legal-text">
          続行することで、スケジュール管理アプリの
          <%= link_to "利用規約", "#" %>
          および
          <%= link_to "プライバシー規約", "#" %>
          に同意するものとみなされます。
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="remember">
            <%= f.check_box :remember_me %>
            <%= f.label :remember, "ログインしたままにする" %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="box-newusr">
      <p><span>------------</span> 専用にアカウントを作成しますか？ <span>------------</span></p>
      <%= link_to "アカウントを作成", new_user_registration_path %>
    </div>
    <br>
    <div class="box-newusr">
      <p><span>------------</span> 軽く閲覧したい方はこちらから<span>------------</span></p>
      <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, method: :post %>
    </div>
  </div>
</div>




