<h5>ログインユーザー</h5>
<div class="event-user-container">
  <table>
    <thead class="text-center">
    <tbody class="text-center">
        <tr>
          <th>名前</th>
        </tr>
        <% @users.each do |user| %> 
          <tr>
            <td>
              <%= image_tag user.image_owner ,width: 70, height: 60, class: "image_icons"%>
            </td>
            <td>
              <% if current_user %>
                <%= link_to user.name, user %>
                <% if user.image_url == "" %>
                  <%= image_tag "github_image.png", width: 70, height: 60, class: "image_icons" %>
                <% else %>
                  <%= image_tag user.image_url, width: 70, height: 60, class: "image_icons" %>
                <% end %>
              <% else %>
                <%= user.id %>
              <% end %> 
            </td>
          </tr>
        <% end %>
    </tbody>
    </thead>
  </table>
  <% if User.count > 5%>
  <%= link_to "他のログインユーザーを見る 他ユーザー数#{User.count  - 5}人", users_path %>
  <% end %>
</div>
<!-- /.event-user-container -->
