<h5>ログインユーザー</h5>
<div class="event-user-container">
  <table>
    <thead class="text-center">
    <tbody class="text-center">
        <% @users.each do |user| %> 
          <div class="box-user">
              <% if user.image_url == "" %>
                <%= image_tag "roof_log.png", width: 70, height: 60, class: "image_icons" %>
              <% else %>
                <%= image_tag user.image_url, width: 70, height: 60, class: "image_icons" %>
              <% end %>
              <% if current_user %>
                <%= link_to user.name, user %>
              <% else %>
                <%= user.id %>
              <% end %> 
          </div>
        <% end %>
    </tbody>
    </thead>
  </table>
  <% if User.count > 5%>
  <%= link_to "他のログインユーザーを見る 他ユーザー数#{User.count  - 5}人", users_path %>
  <% end %>
</div>
<!-- /.event-user-container -->
