<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EventsApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <header class="sticky-top">
  <% unless devise_page %>
    <%= render 'shared/header' %>
  <% end %>
  </header>
  <div class="base-container">
    <div class="container-fluid py-5 mw-md">
      <% if flash.notice %>
        <div class="alert alert-success">
      <%= flash.notice %>
        </div>
      <% end %>
      <% if flash.alert %>
        <div class="alert alert-danger">
          <%= flash.alert %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </div>
  <!-- /.base-container -->
  <footer></footer>
</body>
</html>